/*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*/

[data-tooltip] {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1;
}

[data-tooltip]:hover::before {
    content: "Sort by " attr(data-tooltip);
    cursor: pointer;
    visibility: visible;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1;
    border: 2px solid #000;
    transform: translate(-50%, -100%);
}
